* {
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 10px;
  padding: 0px;
}

p {
  font-size: 20px;
}

img {
  margin-left: 400px;
}

h1 {
  margin-left: 820px;
}

button {
  width: 200px;
  height: 100px;
  margin-left: 80px;
  background-color: rgb(32, 37, 32);
  color: rgb(232, 235, 232);
}
